= provide(:title, "Home")

%h1 「温泉サイコーオオオオオ」
%p 日本人なら誰でも好きであろう温泉
%p その土地ならではの景色に癒されながらの温泉
%p そんな素敵な温泉を、誰かにちょこっと紹介するサービスです。

= render partial: "posts/posts_index", locals: { posts: @posts }

= render 'posts/new_post_btn'