- if user_signed_in?
  - if current_user.already_liked?(post)
    = link_to 'お気に入り解除', post_likes_path(post.id), method: :delete, remote: true, class: "btn btn-warning"
  - else
    = link_to 'お気に入り登録', post_likes_path(post.id), method: :post, remote: true, class: "btn btn-primary"