// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-main: #A1232D;

.btn-circle {
  display: inline-block;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #A62125;
  color: #666;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  i {
    font-size: 100px;
    color: #aaa;
    line-height: 400px;
    transition: 0.3s ease-out;
  }
  &:hover {
    background-color: #A62125;
    transition: 0.3s ease-out;
    opacity: 0.9;
    i {
      transition: 0.3s ease-out;
      display: block;
      color: #fff;
    }
  }
}

.img-text {
  margin-bottom: 8px;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.post-frame {
  border: 2px solid gray;
  padding: 15px;
  border-radius: 5px;
}

.post-title {
  border-bottom: solid 3px gray;
  position: relative;
  &:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px $color-main;
    bottom: -3px;
    width: 30%;
  }
}

.table {
  color: #494949!important;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #eee;
}

th {
  width: 30%;
  background-color: #eee;
}

td {
  word-wrap: break-word;
}

.btn-circle-border-simple1 {
  @extend .btn-circle;
  color: $color-main;
  border: solid 2px $color-main;
  &:hover {
    background: $color-main;
    color: #fff;
    text-decoration: none;
  }
}

.btn-circle-border-simple2 {
  @extend .btn-circle;
  color: #fff;
  background: $color-main;
  border: solid 2px $color-main;
  &:hover {
    background: #eee;
    color: $color-main;
    text-decoration: none;
    border: solid 2px #494949;
  }
}

.btn-circle-border-simple3 {
  @extend .btn-circle;
  color: #494949;
  background: #eee;
  border: solid 2px $color-main;
  &:hover {
    background: #eee;
    color: $color-main;
    text-decoration: none;
  }
}

.card {
  margin: 20px 0;
  overflow: hidden;
}

.card-index {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: .5s ;
  &:hover {
    transform: rotateZ( 360deg ) ;
  }
}

.c-f-left {
  float: left;
}

// infinite scroll

.view-more {
  margin: 20px 0;
}

.view-more-button {
  width: 40%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  background-color: $color-main;
  border-radius: 10px;
  &:focus {
    outline: 0;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,38,0, 0.2);
  border-right: 1.1em solid rgba(255,38,0, 0.2);
  border-bottom: 1.1em solid rgba(255,38,0, 0.2);
  border-left: 1.1em solid $color-main;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// 検索
.search-form {
  border: 3px solid $color-main;
  border-radius: 10px;
  padding: 25px;
  background-color: #eee;
}

// 固定新規投稿ボタン
.new-post-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  width: 100px;
  height: 100px;
  background: $color-main;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    transform: rotate(180deg);
  }
  i {
    color: #fff;
    line-height: 100px;
    font-size: 75px;
    transition: 1s;
  }
}
