// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#avatar_field {
  border: solid 2px #A62125;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  &:hover {
    transition: 0.3s ease-out;
    opacity: 0.9;
  }
}

.profile-img {
  border: solid 2px #A62125;
  border-radius: 50%;
}

.user_form {
  max-width: 500px;
}

.title-border {
  display: flex;
  align-items: center;
  &:before, &:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &:before {
    margin-right: 1rem;
  }
  &:after {
    margin-left: 1rem;
  }
}

.nav-tabs {
  border-bottom: 1px solid #A1242D!important;
}

.n-l-item {
  color: #A1242D;
  &:hover {
    color: #A1242D!important;
    border: 1px solid #A1242D!important;
  }
}
.nav-link.active {
  color: #fff!important;
  background-color: #A1242D!important;
}