// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_form {
  max-width: 500px;
}

.title-border {
  display: flex;
  align-items: center;
  &:before, &:after {
    border-top: 1px solid;
    content: "";
    flex-grow: 1;
  }
  &:before {
    margin-right: 1rem;
  }
  &:after {
    margin-left: 1rem;
  }
}