- if flash[:error_messages]
  .alert.alert-danger
    %ul
      - flash[:error_messages].each do |msg|
        %li= msg
- else
  - flash.each do |key, value|
    .alert{ class: "alert-#{bootstrap_alert(key)}" }
      = value